html {
  box-sizing: border-box;
  font-family: Lato, regular, bold;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.giza {
  display: inline-block;
  max-width: 25em;
  margin: 1em;
  padding-top: 2em;
}

img {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.pyramid {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  margin: 0;
}

h2 {
  font-weight: bold;
  display: inline-block;
  padding: 0;
}


p {
  max-width: 25em;
}

button {
  display: inline-block;
  padding: .6em .75em;
  border: 3px solid #333;
  border-radius: 8px;
  background-color: #eee9de;
  margin-top: .6em;
  margin-bottom: 3em;
  font-size: 1.125em;
}

.btn {
  text-decoration: none;
  color: #333;
  text-align: center;

}
